/* JOSH COMEAU CSS NORMALIZER */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Domine", sans-serif;
  min-height: 100vh;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* My Styled CSS */
:root {
  --bright-red: #e63946;
  --beige: #f1faee;
  --steel-blue: #457b9d;
  --navy-blue: #1d3557;
  --white: #fff;
  --spacing-4px: 0.25rem;
  --spacing-8px: 0.5rem;
  --spacing-12px: 0.75rem;
  --spacing-16px: 1rem;
  --spacing-20px: 1.25rem;
  --spacing-24px: 1.5rem;
  --spacing-28px: 1.75rem;
  --spacing-32px: 2rem;
  --spacing-36px: 2.25rem;
  --spacing-40px: 2.5rem;
  --spacing-44px: 2.75rem;
  --spacing-48px: 3rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--beige);
  max-width: 1280px;
  width: 100%;
  padding-inline: var(--spacing-32px);
}

.scoreboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--steel-blue);
  max-width: 954px;
  border-radius: 1rem;
  width: 100%;
  margin: 3rem auto;
  padding-inline: 4rem;
  padding-block: 2rem;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-margin-after: 1.5rem;
  margin-block-end: 1.5rem;

  > h1 {
    font-size: 3rem;
    color: var(--white);
  }
}

/* Timer Section */
.timer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  -webkit-margin-after: 1.25rem;
  margin-block-end: 1.25rem;
}

.timer {
  -webkit-margin-after: 1rem;
  margin-block-end: 1rem;
}

.timer-heading {
  display: inline;
  font-size: 2rem;
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  color: var(--steel-blue);
  background-color: var(--beige);
  border-radius: 0.25rem;
}

.timer-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  > button {
    background-color: var(--navy-blue);
    color: var(--white);
    border: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 0.25rem;
  }
}

/* Period Section */
.period-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-margin-after: 1.5rem;
  margin-block-end: 1.5rem;
}

.period-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}

.period-heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  -webkit-margin-after: 0.5rem;
  margin-block-end: 0.5rem;
}

.period-value {
  font-size: 2rem;
  color: var(--steel-blue);
  background-color: var(--beige);
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  border-radius: 0.25rem;
  -webkit-margin-after: var(--spacing-8px);
  margin-block-end: var(--spacing-8px);
}

.period-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-8px);

  > button {
    border: none;
    padding-inline: var(--spacing-12px);
    padding-block: var(--spacing-4px);
    color: var(--white);
    background-color: var(--navy-blue);
    border-radius: 4px;
  }
}

/* Team Section */
.teams-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-margin-after: var(--spacing-24px);
  margin-block-end: var(--spacing-24px);
}

.teams-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-20px);
}

.home-section,
.guest-section {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 420px;
  background-color: #f1faee66;
  padding-inline: 7.75rem;
  padding-block: 3rem;
  border-radius: var(--spacing-8px);
}

.home-container,
.guest-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.home-heading,
.guest-heading {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  -webkit-margin-after: var(--spacing-8px);
  margin-block-end: var(--spacing-8px);
}

.home-score,
.guest-score {
  font-size: 5rem;
  color: var(--bright-red);
  background-color: var(--navy-blue);
  padding-inline: 3rem;
  padding-block: 1rem;
  border-radius: var(--spacing-4px);
  -webkit-margin-after: var(--spacing-8px);
  margin-block-end: var(--spacing-8px);
}

.home-points,
.guest-points {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-8px);
  -webkit-margin-after: var(--spacing-8px);
  margin-block-end: var(--spacing-8px);

  > button {
    border: none;
    padding-inline: var(--spacing-8px);
    padding-block: var(--spacing-4px);
    color: var(--white);
    background-color: var(--navy-blue);
    border-radius: var(--spacing-4px);
  }
}

.fouls-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-8px);
}

.fouls-heading {
  font-size: var(--spacing-24px);
  color: var(--white);
}

.fouls-score {
  font-size: var(--spacing-32px);
  color: var(--steel-blue);
  padding-inline: var(--spacing-16px);
  padding-block: var(--spacing-8px);
  border-radius: var(--spacing-4px);
  background-color: var(--beige);
}

.fouls-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-8px);

  > button {
    padding-inline: var(--spacing-12px);
    padding-block: var(--spacing-4px);
    background-color: var(--navy-blue);
    color: var(--white);
    border-radius: var(--spacing-4px);
    border: none;
  }
}

/* Reset Section */
.reset-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  > button {
    font-size: var(--spacing-24px);
    color: var(--white);
    background-color: var(--bright-red);
    border-radius: var(--spacing-4px);
    border: none;
    padding-inline: var(--spacing-16px);
    padding-block: var(--spacing-4px);
  }
}
